<nav class="navbar navbar-light bg-light">
  <ul class="nav justify-content-center">
    <% @categories.each do |category| %>
      <li class="nav-item">
        <%= link_to category.name, category, class: 'nav-link' %>
      </li>
    <% end %>
  </ul>
</nav>



<div class="row">

  <% @items.each do |item| %>

    <div class="col-md-4 col-sm-6">
      <div class="card">
        <%= image_tag(item.image_url, class: 'card-img-top') if item.image.present? %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to item.title, item %></h5>
          <p class="card-text"><%= truncate(item.description, length: 100) %></p>
          <%= link_to 'View', item, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>

  <% end %>

</div>
