<p id="notice"><%= notice %></p>

<%= image_tag(@item.image_url) if @item.image.present? %>

<h2>
  <%= @item.title %>
</h2>

<p>
  <%= simple_format(@item.description) %>
</p>



<%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-primary btn-sm' %>
<%= link_to 'Back', items_path, class: 'btn btn-secondary btn-sm' %>
